aniso8601==6.0.0
applescript==2019.3.22
asn1crypto==0.24.0
astroid==1.6.6
attrs==18.1.0
Automat==0.7.0
backports-abc==0.5
backports.functools-lru-cache==1.5
beautifulsoup4==4.4.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
configparser==3.7.4
constantly==15.1.0
convertdate==2.1.3
cryptography==2.3
cssselect==1.0.3
cycler==0.10.0
Cython==0.29.2
dask==1.0.0
decorator==4.4.0
detect==2019.3.22
distributed==1.25.2
Django==1.8.2
django-ckeditor==5.0.3
django-filer==1.2.0
django-markdown-deux==1.0.5
django-pagedown==0.1.1
djangorestframework==3.8.2
dnspython==1.16.0
easy-thumbnails==2.3
enum34==1.1.6
ephem==3.7.6.0
fbprophet==0.4
Flask==1.0.2
Flask-RESTful==0.3.7
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
gunicorn==19.9.0
HeapDict==1.0.0
holidays==0.9.9
html5lib==0.9999999
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipaddress==1.0.22
isort==4.3.17
itsdangerous==1.1.0
Jinja2==2.10
kafka==1.3.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lunardate==0.2.0
lxml==3.6.0
markdown2==2.3.1
MarkupSafe==1.1.0
matplotlib==2.2.3
mccabe==0.6.1
msgpack==0.6.0
mysqlclient==1.3.13
nose==1.3.7
numpy==1.15.4
only==2019.3.22
pandas==0.23.4
parsel==1.5.0
patsy==0.5.1
Pillow==3.2.0
psutil==5.4.8
public==2019.3.22
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
pyDes==2.0.1
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pylint==1.9.4
pyOpenSSL==18.0.0
pyparsing==2.3.0
pystan==2.18.1.0
python-dateutil==2.7.5
pytz==2016.4
PyYAML==3.13
queuelib==1.5.0
render==1.0.0
requests==2.19.1
runcmd==2019.3.22
scikit-learn==0.20.0
scipy==1.2.0
Scrapy==1.5.1
service-identity==17.0.0
singledispatch==3.4.0.3
six==1.11.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.3
statsmodels==0.9.0
subprocess32==3.5.3
tblib==1.3.2
temp==2019.3.24
toolz==0.9.0
tornado==5.1.1
tqdm==4.29.0
tsfresh==0.11.1
Twisted==18.7.0
Unidecode==0.4.19
urllib3==1.23
URLObject==2.4.0
w3lib==1.19.0
Werkzeug==0.15.2
wrapt==1.11.1
xgboost==0.80
zict==0.1.3
zope.interface==4.5.0
